<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HRH</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <div class="jumbotron" aria-label="jumbotron">
                <h1>
                    Hjälp Runt Huset
                </h1>
                <p>
                    Billig hjälp av betygsatta personer
                </p>
            </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        Go!
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked ">
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Hushåll <span class="caret"></span>
                </a>
                <ul class="dropdown-menu ">
                        <li>
                            <a href="/Category/1">
                                Städning
                            </a>
                        </li>
                        <li>
                            <a href="/Category/2">
                                Tvättning
                            </a>
                        </li>
                        <li>
                            <a href="/Category/3">
                                Diska
                            </a>
                        </li>
                        <li>
                            <a href="/Category/4">
                                Matlagning
                            </a>
                        </li>
                        <li>
                            <a href="/Category/5">
                                Barnvakt
                            </a>
                        </li>
                        <li>
                            <a href="/Category/6">
                                Hundpassning
                            </a>
                        </li>
                        <li>
                            <a href="/Category/7">
                                Vattning av blommor
                            </a>
                        </li>
                        <li>
                            <a href="/Category/8">
                                Tapetsering
                            </a>
                        </li>
                        <li>
                            <a href="/Category/9">
                                Småfix
                            </a>
                        </li>
                </ul>
            </ul>
        </div>
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-2">

        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
</body>
</html>