<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eStore</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <div class="jumbotron">
                    <h1>eStore</h1>
                </div>
            </div>
            <div class="col-md-1">

            </div>
    </div>
    <div class="row">
        <div class="col-md-2"><center></center></div>
            <div class="col-md-8"><center>SEARCH / GO</center></div>
            <div class="col-md-2"><center></center></div>
    </div>
    <div class="row">
        <div class="col-md-2">
                <div class="btn-group">
                  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Extra small button <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
        </div>
            <div class="col-md-8"><center>items</center></div>
            <div class="col-md-2"><center>cart</center></div>
    </div>
    <div class="row">
        <div class="col-md-2"><center>info</center></div>
            <div class="col-md-8"><center>more info</center></div>
            <div class="col-md-2"><center>some info</center></div>
    </div>
</div>

{% block content %}

{% endblock %}

</body>
</html>