{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/images/disk.jpg">
      <div class="caption">
        <h3>Disk</h3>
        <p>Behöver någon som diskar bort min disk</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="/static/images/mat.jpg">
      <div class="caption">
        <h3>Middag</h3>
        <p>Behöver någon som lagar mat åt mig</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/images/garden1.jpg">
      <div class="caption">
        <h3>Gräsklippning</h3>
        <p>Behöver någon som klipper gräset</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>






{% endblock %}