<div class="btn-group" aria-label="Categorygroup" role="group" style="size: 100%;">
                <div class="dropdown">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hushåll
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                Städning
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Tvättning
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Diska
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Matlagning
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Barnvakt
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Hundpassning
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Vattning av blommor
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Tapetsering
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Småfix
                            </a>
                        </li>
                    </ul>
                </div>
            </div>