.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
background-color: lightgrey;
color:white;
}

.nav-pills>li>a, .nav-pills>li>a:hover, .nav-pills>li>a:focus{
background-color: white;
color:black;
}

.shoppingcart{
    background-color: white;
    color: black;
    border-size: 10px;
    border-color: lightblue;
    border-style: ridge;
}

.jumbotron{
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
}

body {
    background: url("/static/images/background2.jpg")
}

.picture{
    position: relative;
    top: 100px;
}