.shoppingcart{
    background-color: white;
    color: black;
    border-size: 10px;
    border-color: darkgrey;
    border-style: ridge;
}

.jumbotron{
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
    color: #39A341;
}

body {
    background: url("/static/images/background3.png")
}

.picture{
    position: relative;
    top: 70px;
}

.topbar{
    background: url("/static/images/topbar3.jpg")
}

.thumbnail{
    background-color: transparent;
    border-style: none;
}
.caption{
    color: white;
}

.shoppingcartTitle{
    color: white;
    font-size: 14px;
}