.shoppingcart{
    background-color: white;
    color: black;
    border-size: 10px;
    border-color: lightblue;
    border-style: ridge;
}

.jumbotron{
    background-color: transparent;
    font-family: "Courier New", Courier, monospace;
}

body {
    background: url("/static/images/background3.png")
}

.picture{
    position: relative;
    top: 100px;
}