<ul class="nav-stacked navbar-inverse" style="margin-top: 50px">
    <li role="presentation"><a data-toggle="modal" data-target="#createProductModal">Lägg till produkt</a></li>
    <li role="presentation"><a href="categories">Lägg till kategori</a></li>
    <li role="presentation"><a href="#">Slutför ordrar</a></li>
    <li role="presentation"><a href="users">Lägg till Admin användare</a></li>
    <li role="presentation"><a href="#">Lägg till tider för produkt</a></li>
    <li role="presentation"><a href="#">Lägg till rabattkod</a></li>
    <li role="presentation"><a data-toggle="modal" data-target="#createImageModal">Lägg till bild</a></li>
    <li role="presentation"><a href="shoppingCarts">Lägg till kundvagn</a></li>
</ul>