{% extends "adminBase.html" %}
{% block content %}
{% if dictionary.select == 'products' %}
<table class="table" style="color: white;">
    <tr>
        <th>Produktens ID nummer</th>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Pris</th>
        <th>Reapris</th>
        <th>Betyg</th>
        <th>Antal recensioner</th>
        <th>Datum tillagd</th>
        <th>Kategori ID</th>
        <th>Ändra</th>
    </tr>
    {% for product in dictionary.products %}
        <tr>
            <td>{{ product.prodID }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description[:8] }}...</td>
            <td>{{ product.price }}</td>
            <td>{{ product.salePrice }}</td>
            <td>{{ product.grade }}</td>
            <td>{{ product.numbOfGrades }}</td>
            <td>{{ product.dateAdded }}</td>
            <td>{{ product.catID }}</td>
            <td>
                <a href="/Admin/changeProduct/{{ product.prodID }}">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if dictionary.select == 'categories' %}
<table class="table" style="color: white;">
    <tr>
        <th>Överkategory</th>
        <th>Underkategori</th>
        <th>Underkategorins ID</th>
        <th>Ändra</th>
    </tr>
    {% for category in dictionary.categories %}
        {% if category.subCategories %}
            {% for subcategory in category.subCategories%}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ subcategory[0] }}</td>
                    <td>{{ subcategory[1] }}</td>
                    <td>
                        <a data-toggle="modal" data-target="#nameModal">
                            <span class="glyphicon glyphicon-pencil">
                            </span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
</table>
{% endif %}


{% if dictionary.select == 'users' %}
<table class="table" style="color: white;">
    <tr>
        <th>Användarens ID</th>
        <th>Namn</th>
        <th>E-post</th>
        <th>Telefonnummer</th>
        <th>Användarens nivå</th>
        <th>Ändra</th>
    </tr>
    {% for user in dictionary.users %}
        <tr>
            <td>{{ user.userID }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.userLvl }}</td>
            <td>
                <a data-toggle="modal" data-target="#nameModal">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                </a>
            </td>

        </tr>
    {% endfor %}
</table>
{% endif %}

{% if dictionary.select == 'shoppingCarts' %}
<table class="table" style="color: white;">
    <tr>
        <th>Användarens ID</th>
        <th>Kundvagnens ID</th>
        <th>Ändra</th>
    </tr>
    {% for cart in dictionary.shoppingCarts %}
        <tr>
            <td>{{ cart.userID }}</td>
            <td>{{ cart.cartID }}</td>
            <td>
                <a data-toggle="modal" data-target="#nameModal">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                </a>
            </td>

        </tr>
    {% endfor %}
</table>
{% endif %}


{% if dictionary.select == 'Images' %}
<table class="table" style="color: white;">
    <tr>
        <th>Bild ID</th>
        <th>Produkt ID</th>
        <th>Placering</th>
        <th>Källa</th>
        <th>Ändra</th>
    </tr>
    {% for image in dictionary.images %}
        <tr>
            <td>{{ image.imageID }}</td>
            <td>{{ image.prodID }}</td>
            <td>{{ image.imagePlacement }}</td>
            <td>{{ image.imageSource }}</td>
            <td>
                <a data-toggle="modal" data-target="#nameModal">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

{% if dictionary.select == 'reviews' %}
<table class="table" style="color: white;">
    <tr>
        <th>Recensionens ID/th>
        <th>Användarens ID</th>
        <th>Title</th>
        <th>Beskrivning</th>
        <th>Betyg</th>
        <th>Godkänd</th>
        <th>Produktens ID</th>
        <th>Ändra</th>
    </tr>
    {% for review in dictionary.reviews %}
        <tr>
            <td>{{ review.reviewID }}</td>
            <td>{{ review.userID }}</td>
            <td>{{ review.title }}</td>
            <td>{{ review.Description }}</td>
            <td>{{ review.grade }}</td>
            <td>{{ review.approved }}</td>
            <td>{{ review.prodID }}</td>
            <td>
                <a data-toggle="modal" data-target="#nameModal">
                    <span class="glyphicon glyphicon-pencil">
                    </span>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
