<ul class="nav-stacked navbar-inverse" style="margin-top: 50px">
    <li role="presentation"><a href="/Admin/view/products">Produkter</a></li>
    <li role="presentation"><a href="/Admin/view/categories">Kategorier</a></li>
    <li role="presentation"><a href="#">Ordrar</a></li>
    <li role="presentation"><a href="/Admin/view/users">Användare</a></li>
    <li role="presentation"><a href="/Admin/view/reviews">Recensioner</a></li>
    <li role="presentation"><a href="#">Rabattkoder</a></li>
    <li role="presentation"><a href="/Admin/view/Images">Bilder</a></li>
    <li role="presentation"><a href="/Admin/view/shoppingCarts">Kundvagnar</a></li>
</ul>