<div class="modal fade" id="createProductModal" tabindex="-1" role="dialog" aria-labelledby="createProductModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="createProductLabel">
					Ny produkt
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/Admin/create/product' name="product_form" id="product_form">
                    <p>
                        <input type="text" class="span3" name="prodID" id="prodID" placeholder="ID">
                    </p>
                    <p>
                        <input type="text" class="span3" name="prodName" id="prodName" placeholder="Namn">
                    </p>
                    <p>
                        <input type="text" class="span3" name="prodDesc" id="prodDesc" placeholder="Beskrivning">
                    </p>
                    <p>
                        <input type="text" class="span3" name="prodPrice" id="prodPrice" placeholder="Pris">
                    </p>
                    <p>
                        <input type="text" class="span3" name="prodSale" id="prodSale" placeholder="Reapris">
                    </p>
                    <p>
                        <input type="text" class="span3" name="catID" id="prodCatID" placeholder="Kategori ID">
                    </p>
                    <p>
                        {% with error = get_flashed_messages(category_filter=["product"]) %}
                            {% if error %}
                                {% for msg in error %}
                                    <i style="color: red;">
                                        {{ msg }}
                                    </i>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Lägg till</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error %}
<script>
$(document).ready(function(){
$("#createProductModal").modal("show");
});
</script>
{% endif %}
{% endwith %}


<div class="modal fade" id="createImageModal" tabindex="-1" role="dialog" aria-labelledby="createImageModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="createImageLabel">
					Ny Bild
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/Admin/create/image' name="image_form" id="image_form">
                    <p>
                        <input type="text" class="span3" name="imageID" id="imageID" placeholder="Bildens ID">
                    </p>
                    <p>
                        <label for="imgProdID">Produktens ID:</label>
                          <select name="imgProdID" id="imgProdID">
                              {% for product in dictionary.products %}
                            <option value="{{ product.prodID }}">{{ product.name }}</option>
                              {% endfor %}
                          </select>
                    </p>
                    <p>
                        <label for="imgPlacement">BildPlacering</label>
                          <select name="imgPlacement" id="imgPlacement">
                            <option value="1">Stor bild</option>
                            <option value="2">Liten bild</option>
                            <option value="3">Extra bild</option>
                            <option value="4">Order bild</option>
                          </select>
                    </p>
                    <p>
                        <label for="imgSource">Bildkälla</label>
                          <select name="imgSource" id="imgSource">
                              {% for image in dictionary.pictureNames %}
                            <option value="{{ image }}">{{ image }}</option>
                              {% endfor %}
                          </select>
                    </p>
                    <p>
                        {% with error = get_flashed_messages(category_filter=["image"]) %}
                            {% if error %}
                                {% for msg in error %}
                                    <i style="color: red;">
                                        {{ msg }}
                                    </i>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Lägg till</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error %}
<script>
$(document).ready(function(){
$("#createImageModal").modal("show");
});
</script>
{% endif %}
{% endwith %}



<div class="modal fade" id="createProdTimesModal" tabindex="-1" role="dialog" aria-labelledby="createProdTimesModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="createProdTimesLabel">
					Tider för produkt
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/Admin/create/prodDate' name="prodDate_form" id="prodDate_form">
                    <p>
                        <input type="text" class="span3" name="prodDateID" id="prodDateID" placeholder="Tidsbokningens ID">
                    </p>
                    <p>
                        <label for="prodDateProdID">Produktens ID</label>
                          <select name="prodDateProdID" id="prodDateProdID">
                              {% for product in dictionary.products %}
                            <option value="{{ product.prodID }}">{{ product.name }}</option>
                              {% endfor %}
                          </select>
                    </p>
                    <p>
                        <input type="datetime" class="span3" name="dateStart" id="dateStart" placeholder="Start">
                    </p>
                    <p>
                        <input type="text" class="span3" name="dateEnd" id="dateEnd" placeholder="Slut">
                    </p>
                    <p>
                        <input type="text" class="span3" name="quantity" id="quantity" placeholder="Antal">
                    </p>
                    <p>
                        {% with error = get_flashed_messages(category_filter=["prodDate"]) %}
                            {% if error %}
                                {% for msg in error %}
                                    <i style="color: red;">
                                        {{ msg }}
                                    </i>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Lägg till</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error %}
<script>
$(document).ready(function(){
$("#createProdTimesModal").modal("show");
});
</script>
{% endif %}
{% endwith %}


<div class="modal fade" id="createCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createCategoryModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="createCategoryLabel">
					Lägg till överkategori
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/Admin/create/category' name="category_form" id="category_form">
                    <p>
                        <input type="number" class="span3" name="catID" id="catID" placeholder="Överkategori ID">
                    </p>
                    <p>
                        <input type="text" class="span3" name="catName" id="catName" placeholder="Överkategori namn">
                    </p>
                    <p>
                        {% with error = get_flashed_messages(category_filter=["category"]) %}
                            {% if error %}
                                {% for msg in error %}
                                    <i style="color: red;">
                                        {{ msg }}
                                    </i>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Lägg till</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error %}
<script>
$(document).ready(function(){
$("#createCategoryModal").modal("show");
});
</script>
{% endif %}
{% endwith %}


<div class="modal fade" id="createSubCategoryModal" tabindex="-1" role="dialog" aria-labelledby="createSubCategoryModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="createSubCategoryLabel">
					Lägg till underkategori
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/Admin/create/subcategory' name="subcategory_form" id="subcategory_form">
                    <p>
                        <input type="number" class="span3" name="subID" id="subID" placeholder="Underkategori ID">
                    </p>
                    <p>
                        <input type="text" class="span3" name="subCatName" id="subCatName" placeholder="Underkategori Namn">
                    </p>
                    <p>
                        <label for="subCatID">Överkategori ID</label>
                          <select name="subCatID" id="subCatID">
                              {% for Category in dictionary.primaryCategories %}
                            <option value="{{ Category.catID }}">{{ Category.name }}</option>
                              {% endfor %}
                          </select>
                    </p>
                    <p>
                        {% with error = get_flashed_messages(category_filter=["subcategory"]) %}
                            {% if error %}
                                {% for msg in error %}
                                    <i style="color: red;">
                                        {{ msg }}
                                    </i>
                                {% endfor %}
                            {% endif %}
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Lägg till</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% if error %}
<script>
$(document).ready(function(){
$("#createSubCategoryModal").modal("show");
});
</script>
{% endif %}
{% endwith %}