{% extends "base.html" %}
{% block content %}

<div class="row">
  {% for item in Database %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/images/disk.jpg" style="min-height:150px;height:150px;min-width:181px;width:181px;" id="lol">
      <div class="caption" id="product">
        <h3 class="title">{{ item.name }}</h3>
        <p class="description">{{ item. description }}</p>
		<p class="price">Price: {{item.salePrice}}kr</p>
		<p class="quantity">Quantity: {{item.quantity}}</p>
		<p class="grade">Grade: {{item.grade}}</p>
          <!--<p class="dateStart">Start time: {{ item.dateOfProdStart }}</p>
          <p class="dateEnd">End time: {{item.dateOfProdEnd }}</p>-->
        <p><a href="#" class="btn btn-primary" role="button">Köp</a> <a href="/more/{{item.prodID}}" class="btn btn-default" role="button">Mer info</a></p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>





{% endblock %}