{% extends "base.html" %}
{% block content %}

<div class="row">
  {% for item in dictionary.catalog %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/static/images/disk.jpg" style="min-height:150px;height:150px;min-width:181px;width:181px;" id="lol">
      <div class="caption">
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <p><a href="#" class="btn btn-primary" role="button">Köp</a> <a href="#" class="btn btn-default" role="button">Mer info</a></p>
      </div>
    </div>
  </div>
    {% endfor %}
</div>





{% endblock %}