{% extends "base.html" %}
{% block content %}
{% if dictionary.user %}
<div class="col-md-11">
	<div class="row well-sm account">
		<div class="row account">
			<div class="panel panel-default">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Namn
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.name}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#nameModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["name"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Email
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.email}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#emailModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["email"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Adress
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.address}}
										<span style="float:right;">
							<a data-toggle="modal" data-target="#adressModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["adress"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							ZIP
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.zip}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#zipModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["zip"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Stad
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.city}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#cityModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["city"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Land
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.country}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#countryModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["country"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Telefonnr
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.phone}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#phoneModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["phone"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Personnummer
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.ssn}}
						<span style="float:right;">
							<a data-toggle="modal" data-target="#ssnModal">
								<span class="glyphicon glyphicon-pencil">

								</span>
							</a>
						</span>
						{% with error = get_flashed_messages(category_filter=["ssn"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7 well">
			<form class="form-inline" id="konto-form" action="/konto" method="post">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							Konto
						</h3>
					</div>
					<div class="panel-body">
						{{dictionary.user.balance}}
					</div>
				</div>
				<div class="form-group">
					<h5>
						Kort Nummer
					</h5>
					<label class="sr-only" for="Kortnr">
						Kort Nummer
					</label>
					<input type="Kortnr" id="Kortnr" name="Kortnr" class="form-control" placeholder="xxxx-xxxx-xxxx-xxxx">
				</div>
				<div class="form-group">
					<h5>
						OCR Nummer
					</h5>
					<label class="sr-only" for="Ocr-nummer">
						OCR-nummer
					</label>
					<input type="Ocr-nummer" id="Ocr-nummer" name="Ocr-nummer" class="form-control" placeholder="xxx">
				</div>
				<div class="form-group">
					<h5>
						Utgångs Datum
					</h5>
					<label class ="sr-only" for="month">
						Månad
					</label>
					<input type="Month" id="Month" name="Month" class="form-control" placeholder="Månad">
				</div>
				<div class="form-group">
					<h5>
						Insättning
					</h5>
					<label class ="sr-only" for="Amount">
						Kronor
					</label>
					<input type="Amount" id="Amount" name="Amount" class="form-control" placeholder="Kronor">
				</div>
				<button type="submit" id="submit-button" class="btn btn-success btn-xs login">
					Sätt in
				</button>
			</form>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}

