<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loginLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/auth/login' name="login_form">
                    <p>
                        <input type="text" class="span3" name="email" id="email" placeholder="Email">
                    </p>
                    <p>
                        <input type="password" class="span3" name="password" placeholder="Password">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Sign in</button>
                        <a href="#">Forgot Password?</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="emailLabel">Ny Email</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/email' name="email_form">
                    <p>
                        <input type="text" class="span3" name="email" id="email" placeholder="Ny email">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="nameLabel">Nytt namn</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/name' name="name_form">
                    <p>
                        <input type="text" class="span3" name="name" id="name" placeholder="Nytt namn">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adressModal" tabindex="-1" role="dialog" aria-labelledby="adressModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="adressLabel">Ny adress</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/adress' name="adress_form">
                    <p>
                        <input type="text" class="span3" name="adress" id="adress" placeholder="Ny adress">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cityModal" tabindex="-1" role="dialog" aria-labelledby="cityModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						&times;
					</span>
				</button>
                <h4 class="modal-title" id="cityLabel">
					Ny stad
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/city' name="city_form">
                    <p>
                        <input type="text" class="span3" name="city" id="city" placeholder="Ny stad">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="countryModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="countryLabel">Nytt land</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/country' name="country_form">
                    <p>
                        <input type="text" class="span3" name="country" id="country" placeholder="Nytt land">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="phoneModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="phoneLabel">Nytt telefonnummer</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/phone' name="email_form">
                    <p>
                        <input type="text" class="span3" name="phone" id="phone" placeholder="Nytt telefonnummer">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ssnModal" tabindex="-1" role="dialog" aria-labelledby="ssnModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ssnLabel">Nytt personnummer</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/ssn' name="email_form">
                    <p>
                        <input type="text" class="span3" name="ssn" id="ssn" placeholder="Nytt personnummer">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="zipModal" tabindex="-1" role="dialog" aria-labelledby="zipModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="zipLabel">
					Ny zip
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/zip' name="zip_form">
                    <p>
                        <input type="text" class="span3" name="zip" id="zip" placeholder="Ny zip">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;
					</span>
				</button>
                <h4 class="modal-title" id="passwordLabel">
					Nytt lösenord
				</h4>
            </div>
            <div class="modal-body">
                <form method="post" action='/change/password' name="password_form">
                    <p>
                        <input type="password" class="span3" name="password" id="password" placeholder="Nytt lösenord">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-inverse">Ändra</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>