{% extends "base.html"%}
{% block content %}
<div class="row well register">
        <form id="register-form" action="/register" method="POST" class="form-horizontal" onsubmit="return validateForm(this)" name="register">
            <div class="form-group">
                <label for="name">Namn</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Förnamn Efternamn">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="dinepost@exempel.com">
            </div>
            <div class="form-group">
                <label for="password">Lösenord</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="********">
            </div>
            <div class="form-group">
                <label for="address">Adress</label>
                <input type="text" id="address" name="address" class="form-control" placeholder="din gata 1">
            </div>
            <div class="form-group">
                <label for="city">Stad</label>
                <input type="text" id="city" name="city" class="form-control" placeholder="din stad">
            </div>
            <div class="form-group">
                <label for="ZIP">ZIP</label>
                <input type="number" id="ZIP" name="ZIP" class="form-control" placeholder="XXXXX">
            </div>
            <div class="form-group">
                <label for="country">Land</label>
                <input type="text" id="country" name="country" class="form-control" placeholder="ditt land">
            </div>
            <div class="form-group">
                <label for="phone">Telefonnr</label>
                <input type="text" id="phone" name="phone" class="form-control" placeholder="070-1234567">
            </div>
            <div class="form-group">
                <label for="ssn">Personnummer</label>
                <input type="text" id="ssn" name="ssn" class="form-control" placeholder="XXXXXX-XXXX">
            </div>
            {% with error = get_flashed_messages(category_filter=["register"]) %}
                {% if error %}
                    {% for msg in error %}
                        <i style="color: red;">
                            {{ msg }}
                        </i>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <button type="submit" id="submit-button" class="btn btn-success">Sign up</button>
        </form>
</div>



{% endblock %}