{% extends "base.html"%}
{% block content %}
<center>
    <H2 style="color: white;">
        Produkter
    </H2>
</center>
{% for item in searchResult['products'] %}
        <p><a href="/more/{{item.prodID}}">{{ item.name }} </a></p>
{% endfor %}

<center>
    <H2 style="color: white;">
        Kategorier
    </H2>
</center>

{% for category in searchResult['categories'] %}

<p><a href="/Cat/{{ category.catID }}">{{ category.name }}</a></p>

{% endfor %}

<center>
    <H2 style="color: white;">
        Underkategorier
    </H2>
</center>

{% for subcategory in searchResult['subCategories'] %}

<p><a href="/Category/{{ subcategory.catID }}">{{ subcategory.name }}</a></p>

{% endfor %}

{% endblock %}