<div class="row">
                {% if dictionary.userEmail %}
                <div class="well" style="margin-top: 20px;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <button type="button">
                            {% if dictionary.activeCart %}
                            {{ dictionary.activeCart }}
                        <span class="caret">

                        </span>
                            {% else %}
                            SHOPPINGCART
                            {% endif %}
                        </button>
                    </a>
                    {% if dictionary.activeCart %}
                    <a href="/delete/{{dictionary.activeCart}}">
                        <button type="button" style="float:right;">
                        <span class="glyphicon glyphicon-remove">

                        </span>
                        </button>
                    </a>
                    {% endif %}
                    <a href="/createCart">
                        <button type="button" style="float:right;">
                        <span class="glyphicon glyphicon-plus">

                        </span>
                        </button>
                    </a>
                    {% if dictionary.shoppingCarts %}
                    <ul class="dropdown-menu">
                        {% for cartID in dictionary.shoppingCarts %}
                            <li>
                                <a href="/changeCart/{{ cartID }}">
                                    {{ cartID }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                    <table class="table">
                          {% for product in dictionary.cartProds %}
                      <tr>
                        <td><a href="/more/{{product.prodID}}" title="{{ product.name }}">{{ product.name[:8]}}...</a></td>
                        <td>{{product.price}} kr</td>
                        <td><span class="badge">{{product.amount}}</span></td>
                          <td><a href="/remove/{{product.prodDateid}}" title="REMOVE"><span class="glyphicon glyphicon-trash"></span></a></td>
                      </tr>
                          {% endfor %}
                        </table>
						<form id="register-form" action="/buy/{{session['cart']}}" method="POST" class="form-horizontal">
                            <div class="form-group">
						        <input type="text" id="discount" name="discount" class="form-control" placeholder="Discount code">
                            </div>
						    <button type="submit" id="submit-button" class="btn btn-success">
                                Buy
                            </button>
                        </form>
                        {% with error = get_flashed_messages(category_filter=["order"]) %}
							{% if error %}
								{% for msg in error %}
									<i style="color: red;">
										{{ msg }}
									</i>
								{% endfor %}
							{% endif %}
						{% endwith %}
                    </div>
                {% endif %}
</div>