{% extends "base.html"%}
{% block content %}

<div class="panel panel-default" style="margin-top: 20px;">
  <!-- Default panel contents -->
  <div class="panel-heading">{{ dictionary.prodInfo.name }}</div>
  <div class="panel-body">
    <p>BESKRIVNING: {{ dictionary.prodInfo.description }}</p>
      <p> PRIS: {{ dictionary.prodInfo.price }}</p>
      <p> BETYG: {{ dictionary.prodInfo.grade }}</p>
  </div>

  <!-- Table -->
  <table class="table">
  <tr>
    <th>Start tid</th>
    <th>Slut tid</th>
    <th>Lägg till i varukorg</th>
  </tr>
      {% for dateObject in dictionary.productDates %}
  <tr>
    <td>{{ dateObject.dateStart }}</td>
    <td>{{ dateObject.dateEnd }}</td>
    <td>
        <a href="/add/{{ dateObject.prodDateID }}" type="GET">
            <button type="button"> 
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                </span>
            </button>
        </a>
    </td>
  </tr>
      {% endfor %}
</table>
</div>
{% include "addReview.html" %}
{% include "showReviews.html" %}

{% endblock %}